<!DOCTYPE html>
<html>
 <head>  
    <meta charset="utf-8">
    <title>MainPage</title>
</head> 
<body>
    <article>
        <a href="/about">Info </a>
        <a href="/nasa">Nasa</a>

    </article>
</body>

</html>